@page
@{
}
<!--Add extra bootsrap jumbotron!-->
<div class="jumbotron">
    <h1 class="display-3">Success!</h1>
    <p class="lead">
       Hang tight, your order is on its way!!
    </p>
    <p class="lead">
        <a class="btn btn-primary" asp-controller="Home">Return Home</a>
    </p>
</div>
   